* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Karla", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
}

/* Header */
.header {
    background-image: linear-gradient(to right, #672280, #A626D3);
    height: 60px;
    color: white;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    padding: 20px;
    user-select: none;
}

/* Meme--Form */
.form {
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 50px;
    gap: 20px;
}

.form--input {
    border-radius: 6px;
    border: 1px solid lightgray;
    font-family: "Karla", sans-serif;
    text-indent: 8px;
}

.form--button {
    grid-column: 1 / -1;
    background-image: linear-gradient(to right, #672280, #A626D3);
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 1rem;
    font-family: "Karla", sans-serif;
    cursor: pointer;
}

.meme {
    position: relative;
}

.meme--image {
    width: 100%;
    padding: 0 40px;
}

.meme--text {
    user-select: none;
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}
