* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0B2434;
    font-family: 'Karla', sans-serif;

}

main {
    width: 500px;
    height: 500px;
    background-color: #F5F5F5;
    border-radius: 12px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 40px;
    margin: 0;
}

.instructions {
    font-size: 18px;
    margin: 0;
}

.dice-container {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(5, auto);
    gap: 24px;
    margin-bottom: 16px;
}

.die {
    font-size: 1.5rem;
    width: 60px;
    height: 60px;
    color: #2B283A;
    box-shadow: 0px 4px 4px lightgray;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.dice-roll {
    background-color: #5035FF;
    border:none;
    height: 60px;
    width: 180px;
    color: white;
    border-radius: 8px;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0px 4px 4px lightgray;
    font-family: 'Karla', sans-serif;
    user-select: none;
}

.dice-roll:active {
    background-color: #3b1dff;
}

.rollcount {
    font-size: 1.5rem;
}