@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-black">Welcome to RazorPizzeria!</h1>
        <h2 class="mainSubtitle">RazorPizzeria is the pizza place for you and me</h2>
    </div>
    <img class="mainImage" src="~/images/PizzaTime.jpg"/>
    <br>
    <a class="btn btn-primary mt-1" asp-area="" asp-page="Pizza">Order pizza</a>
</div>